

.hello-container{
    position: fixed;
    left: 1.5rem;
    right: 1.5rem;
    background-image: linear-gradient(to left, #fcfcfc 50%, #0f0f0f 50%);
    margin: auto;
    text-align: center;
}

.hello-image{
    margin: auto;
    left: -1%;
    top: 10%;
    position: relative;
}

.line-animated-light{
    fill: none;
    stroke: #000000;
}

.line-animated-dark{
    fill: none;
    stroke: #ffffff;
}

.hello-scroll-text{
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.hello-scroll-icon{
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    
}

.hello-scroll{
    animation: ScrollAnimation 1s linear infinite;
    position: absolute;
    left: 48%;
    color: #ffffff;
}

@keyframes ScrollAnimation {
    0%, 100% {
        bottom: 10%;
    }
    50% {
        bottom: 13%;
    }
}